@model nettButikkpls.Models.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="col-md-6 col-md-offset-3">

        <h2 class="form-signin-heading">Update product information</h2>

        <form class="form-horizontal" action="/Admin/UpdateProduct" method="post" onsubmit="return isValid()">

            <div class="form-group col-sm-10">
                <label>Product id:</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="@Model.productid" name="productid" readonly>
                    <span class="input-group-addon"><i id="change_id" class="fa fa-check fa-fw"></i></span>
                </div>
            </div>

            <div class="form-group col-sm-10">
                <label>Product name:</label>
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="@Model.productname" name="Name" id="Name">
                    <span class="input-group-addon"><i id="change_name" class="fa fa-check fa-fw"></i></span>

                </div>
            </div>
            <div class="form-group col-sm-10">
                <label>Product price:</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="$@Model.price" name="Price" id="Price">
                    <span class="input-group-addon"><i id="change_price" class="fa fa-check fa-fw"></i></span>

                </div>
            </div>
            <div class="form-group col-sm-10">
                <label>Product description:</label>
                <div class="input-group">
                    <textarea class="form-control" rows="5" name="description" placeholder="@Model.description" style="resize:none;"></textarea>
                    <span class="input-group-addon"><i id="change_firstname" class="fa fa-check fa-fw"></i></span>

                </div>
            </div>
            <div class="form-group col-sm-10">
                <label>Product category:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="@Model.category" name="Category">
                    <span class="input-group-addon"><i id="change_firstname" class="fa fa-check fa-fw"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update Information" />
                </div>
            </div>
        </form>

    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/theteashop")

<script>

    var confirmList = [true]

    $("#Name").keyup(function () {

        inn = String($("#Name").val())
        if (ValidateText(inn) || inn.length == 0) {
            $("#change_name").removeClass('fa-times').addClass('fa-check');
            confirmList[0] = true;
        }
        else {
            $("#change_name").removeClass('fa-check').addClass('fa-times');
            confirmList[0] = false;
        }
    });


    function isValid() {

        canSubmit = true

        for (i in confirmList) {

            if (confirmList[i] == false) {

                canSubmit = false
                break

            }

        }

        return canSubmit



    }


</script>