@model IEnumerable<nettButikkpls.Models.Customer>

@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ListCustomers</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Productname</th>
            <th>Price</th>
            <th>Category</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var customer in Model)
            {
            <tr>

                <td>@customer.firstname</td>
                <td>@customer.lastname</td>
                <td>@customer.address</td>
                <td>@customer.email</td>
                <td>@customer.postalarea</td>
                

                <td>
                    <a href="@Url.Action("EditProduct", "Admin", new { id = customer.firstname })" class="btn btn-xs btn-success">
                        Edit Product
                        <span class="glyphicon glyphicon-edit" />
                    </a>
                </td>

                <!--<td><a href="#" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span> Edit Product</a></td>-->

            </tr>

        }
    </tbody>
</table>