@model List<nettButikkpls.Models.Product>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProducts</title>
</head>

<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1 class="lobster">The Tea Shop</h1>
            <h2>Cleansing your soul, one drop at a time</h2>
        </div>
    </div>
</header>

<div class="corner-ribbon top-right sticky blue shadow" style="z-index:9999;">Grand opening!!</div>

<div class="container">
    <div class="col-md-12 spacer">
        <div class="row">

            @foreach (var product in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">

                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$@product.price</h4>

                            
                                <div class="lead">
                                    
                                    <h3>@product.productname</h3>
                                    <h4 class="text-muted"> @Html.ActionLink("More info", "ShowProduct", "Product", new { id = product.productid }, null) </h4>

                            </div>
                                

                            <p>@product.category</p>
                        </div>
                        
                        <div class="row">

                            <div class="col-md-2 pull-left">

                                <input type="text" class="form-control" value="1" id="@product.productid">

                            </div>

                            <div class="col-md-6">

                                <a class="btn btn-primary btn-success" id="button" onclick="buyButton('@product.productid') "><span class="glyphicon glyphicon-usd"></span> Buy Now!</a>

                            </div>

                            <div class="col-md-4 pull-right">

                                <div id="productbox_@product.productid" class="hidden text-success"><i class="fa fa-check"></i> Added!</div>

                            </div>

                        </div>
                    </div>

                </div>

            }
        </div>
        <a href="/Product/RegProduct">Registrer nytt produkt</a>

        </div>
    </div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    

    function buyButton(inn) {

        var cartcount = document.getElementById("cartcount").innerHTML

        console.log(cartcount)

        var quantity = document.getElementById(inn).value;

        var url = "/Orders/addToCart";

        $.post(url, { productid: inn, Quantity : quantity}, function (data) {});

        var id = "productbox_" + inn

        console.log(id)

        $("#" + id).removeClass("hidden");

        $('#cartcount').html((parseInt(cartcount)+parseInt(quantity)))

        

        window.setTimeout(function () { $("#" + id).addClass("hidden"); }, 1500);
    }


    function goToProduct(id) {
        var url = "/Product/ShowProduct";
        $.post(url, { id: id }, function (data) {});

    }

</script>
