@{nettButikkpls.Models.Customer customer = (nettButikkpls.Models.Customer)HttpContext.Current.Session["CurrentUser"]; }

<div class="container">

    <div class="spacer">

        <div class="col-md-6 col-md-offset-3">

            <h2 class="form-signin-heading">Update your contact information</h2>

            <form class="form-horizontal" action="/Customer/UpdateCustomer" method="post" onsubmit="return isValid()">
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="email" type="text" class="form-control" placeholder="@customer.email" name="Mail">
                        <span class="input-group-addon"><i id="change_email" class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="firstname" type="text" class="form-control" placeholder="@customer.firstname" name="Firstname">
                        <span class="input-group-addon"><i  id="change_firstname" class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="lastname" type="text" class="form-control" placeholder="@customer.lastname" name="Lastname">
                        <span class="input-group-addon"><i  id="change_lastname" class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="address" type="text" class="form-control" placeholder="@customer.address" name="Address">
                        <span class="input-group-addon"><i id="change_address" class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>

                <div class="form-group col-sm-10">
                      
                      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update Information" />
                
                </div>


            </form>

        </div>


    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/theteashop")

<script>

    var confirmList = [true, true, true, true]

    $("#email").keyup(function () {

        inn = String($("#email").val())
        if (ValidateEmail(inn) || inn.length == 0){
            $("#change_email").removeClass('fa-times').addClass('fa-check');
            confirmList[0] = true;
        }
        else {
            $("#change_email").removeClass('fa-check').addClass('fa-times');
            confirmList[0] = false;
        }
    });

    $("#firstname").keyup(function () {

        inn = String($("#firstname").val())
        if (ValidateText(inn) || inn.length == 0) {
            $("#change_firstname").removeClass('fa-times').addClass('fa-check');
            confirmList[1] = true;
        }
        else {
            $("#change_firstname").removeClass('fa-check').addClass('fa-times');
            confirmList[1] = false;
        }
    });

    $("#lastname").keyup(function () {

        inn = String($("#lastname").val())
        if (ValidateText(inn) || inn.length == 0) {
            $("#change_lastname").removeClass('fa-times').addClass('fa-check');
            confirmList[2] = true;
        }
        else {
            $("#change_lastname").removeClass('fa-check').addClass('fa-times');
            confirmList[2] = false;
            console.log(confirmList)
        }
    });

    $("#address").keyup(function () {

        inn = String($("#address").val())
        if (ValidateText(inn) || inn.length == 0) {
            $("#change_address").removeClass('fa-times').addClass('fa-check');
            confirmList[3] = true;
        }
        else {
            $("#change_address").removeClass('fa-check').addClass('fa-times');
            confirmList[3] = false;
        }
    });

    function isValid() {

        canSubmit = true

        for (i in confirmList) {

            if (confirmList[i] == false) {

                canSubmit = false
                break

            }

        }

        return canSubmit

        

    }


</script>
