@{nettButikkpls.Models.Customer customer = (nettButikkpls.Models.Customer)HttpContext.Current.Session["CurrentUser"]; }

<div class="container">

    <div class="spacer">

        <div class="col-md-6 col-md-offset-3">

            <h2 class="form-signin-heading">Update your contact information</h2>

            <form class="form-horizontal" action="/Customer/UpdateCustomer" method="post">
                
                <div class="form-group col-sm-10">
                    
                    <div class="input-group">
                        
                        <input id="target" type="text" class="form-control" placeholder="@customer.email" name="Mail">
                        <span class="input-group-addon"><i  id="change" class="fa fa-check fa-fw"></i></span>
                    
                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="target" type="text" class="form-control" placeholder="@customer.firstname" name="Mail">
                        <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="target" type="text" class="form-control" placeholder="@customer.lastname" name="Mail">
                        <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>
                
                <div class="form-group col-sm-10">

                    <div class="input-group">

                        <input id="target" type="text" class="form-control" placeholder="@customer.address" name="Mail">
                        <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>

                    </div>
                </div>

                <div class="form-group col-sm-10">
                      
                      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update Information" />
                
                </div>


            </form>

        </div>


    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/theteashop")

<script>

    $("#target").keyup(function () {

        inn = $("#target").val()
        inn = String(inn)


        console.log(inn.length)
       

        if (ValidateEmail(inn) || inn.length == 0){

            $("#change").removeClass('fa-times').addClass('fa-check');
        }
        
        else {
            $("#change").removeClass('fa-check').addClass('fa-times');
        }
    });


</script>
