@model List<nettButikkpls.Models.Customer>

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
</head>

<div class="container">
    <div class="spacer">

        <h2>Her er alle dataene til kundetabellen:</h2>
        

                @foreach (var customer in Model)
            {
                    

                    <ul class="list-group fifty">

                        <li class="list-group-item active">
                            <h2>@customer.firstname @customer.lastname</h2>
                        </li>

                        <li class="list-group-item">
                            Mail address: @customer.email
                        </li>
                        <li class="list-group-item">
                            First name: @customer.address
                        </li>
                        <li class="list-group-item">
                            Last name: @customer.zipcode
                        </li>
                        <li class="list-group-item">
                            Address: @customer.address
                        </li>

                    </ul>

                }
            
            <a href="/Customer/Reg">Legg til ny kunde</a>
            <a href="/Product/RegProduct">Legg til nytt produkt</a>
            <a href="/Customer/Login">Login</a>
            <a href="/Customer/Edit">Endre</a>
        </div>
    </div>
