<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
    

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            


            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="z-index:1000;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Tea Shop", "ListProducts", "Product", new { area = "" }, new { @class = "navbar-brand lobster" })
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "ListProducts", "Product")</li>
                    <li>@Html.ActionLink("Register customer", "Reg", "Customer")</li>
                    
                    
                    @if ((nettButikkpls.Models.Customers)HttpContext.Current.Session["CurrentUser"] == null)
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Customer")</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Your profile", "UserProfile", "Customer")</li>
                    }
                    @if ((nettButikkpls.Models.Customers)HttpContext.Current.Session["CurrentUser"] != null)
                    {
                        <li>@Html.ActionLink("Checkout", "addOrder", "Orders")</li>
                    }

                    <li>

                        <div class="btn-sm btn-primary btn-primary" style="margin-top:12px;">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart (
                            @if ((nettButikkpls.Models.Cart)HttpContext.Current.Session["Cart"] != null)
                            {
                                nettButikkpls.Models.Cart cart = (nettButikkpls.Models.Cart)HttpContext.Current.Session["Cart"];
                                <span id="cartcount">@cart.productids.Count()</span>
                            }
                            else
                            {
                                <span id="cartcount">0</span>

                            }
                          
                          )</div >



</li>
                    
                                                     
                    
                </ul>

                    

                </div>
            </div>
        </div>

     <div class="body-content">

            @RenderBody()

         <div class="spacer">
             <hr />
             <div class="container">


                 <footer>
                     <p>&copy; @DateTime.Now.Year - Erlend, Mads, Trym og Daniel sin tebutikk</p>
                 </footer>
             </div>
         </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>