
@{
    ViewBag.Title = "InnloggetSide";
}

<h2>InnloggetSide</h2>
Gratulerer! Du er logget inn!

<div>
    @Html.ActionLink("Logg inn", "Login")<br />
    @Html.ActionLink("Hjem", "Index")<br />
    @Html.ActionLink("Registrer bruker", "Registrer")<br />
    @Html.ActionLink("Innlogget side", "InnloggetSide")<br />
    @Html.ActionLink("Logg ut", "LoggUt")<br />
</div>